.color-palette {
  display: flex;
  width: 45vw;
  margin-top: 30px;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.color-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border: 2px solid transparent;
}

.color-circle:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.color-circle.selected {
  border: 2px solid black;
  transform: scale(1.2);
}
